.App__header {
  width: 1152px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 44px;
  border: 1px solid red;
}
.container {
  /* border: 1px solid red; */
  display: flex;
  justify-content: space-between;
  width: 500px;
}
.header__container {
  /* border: 1px solid red; */
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.profile__img {
  margin-right: 40px;
}
.round {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 1px solid #d0d5dd;
  display: flex;
  align-items: center;
  justify-content: center;
}
#profile__img {
  flex: 1;
}
.name {
  margin-top: 24px;
  font-size: 20px;
}
